<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp380.Project.SMSTextReceiver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    <!-- The permissions for the SMS Text Message Receiver Application -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    
    <application android:debuggable="true">
        <!-- The Show Message activity -->
        <activity android:name=".ReadSMSTextMessageActivity"
                  android:label="ShowMessageActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="comp380.Project.SMSTextReceiver.Show_Message" />
            </intent-filter>
        </activity>
        
        <!-- The SMS Text Message Receiver -->
        <receiver android:name=".SMSTextMessageReceiver"
                  android:label="TextReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    

</manifest>